<%= form_with(model: user_board, local: true) do |form| %>
  <% if user_board.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user_board.errors.count, "error") %> prohibited this user_board from being saved:</h2>

      <ul>
      <% user_board.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="new_board_field">
    <%= form.label :name, class: 'new_board_label' %>
    <%= form.text_field :name %>
  </div>

  <div class="new_board_field">
    <%= form.label :email, class: 'new_board_label' %>
    <%= form.text_field :email %>
  </div>

  <div class="field">
    <%= form.label :question %>
    <%= form.text_area :question %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
