<p id="notice"><%= notice %></p>
<p>
  <strong>Name:</strong>
  <%= @user_board.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user_board.email %>
</p>

<p>
  <strong>Question:</strong>
  <%= @user_board.question %>
</p>

<div id="answers_wrapper">
  <%= render @user_board.answers %>
  <div id="form">
    <%= render "answers/form" %>
  </div>
</div>
<%= link_to 'Complete', @user_board, method: :patch, data: {confirm: 'Are you sure?'} %>
<%= link_to 'Back', user_boards_path %>
